body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
div{
    width: 300px;
    margin:100px auto;
}
.login{
    width: 100px;
    margin:10px 20px;
}
.logininput{
    margin-bottom: 10px;
}